
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed; /* Shows a blocked cursor icon */
  opacity: 0.6;
}

button:enabled {
  background-color: #0297c4;
  color: #ffffff;
  
}

button:enabled:hover {
  background-color: #50c41a;
  color: white;
  border-color: #02c415:
}